body{
    background-color: #26619C;
}

header img {
    margin-top: 15px;
}

/*
text  : #F2F3AE (vainilla
bottoms hover: #FF521B (giants orange)
bottoms normal: #EDD382 (flax)
pale purtple: #F2D7EE
background: #26619C (lapis Lazuli)
*/